/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color),57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --transparent-color: hsla(var(--hue-color), 69%, 61%, 0.5);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-small: 300;
    --font-medium: 400;
    --font-semi-bold: 700;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --transparent-color: hsla(var(--hue-color), 30%, 8%, 0.5);
    transition: .5s;
    
}

body.light-theme{
    transition: .5s;
}

/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}
/*==================== FOCUS PROJECT ====================*/
.content-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-gallery__list-item{
    min-width: 280px;
    min-height: 210px;
    margin-bottom: 1rem;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: #eee;
}

/* IMAGES */


.img-portfolio-ver{
    background-image: url("../img/220131_Versatil_1.png");
}
.img-portfolio-mir{
    background-image: url("../img/220131_Mirador_1.png");
}
.img-portfolio-fel{
    background-image: url("../img/220131_Felicidad_1.png");
}
    



.img-fel1{
    background-image: url("../img/fel/thumbs/img-fel1.png");
}
.img-fel2{
    background-image: url("../img/fel/thumbs/img-fel2.png");
}
.img-fel3{
    background-image: url("../img/fel/thumbs/img-fel3.png");
}
.img-fel4{
    background-image: url("../img/fel/thumbs/img-fel4.png");
}
.img-fel5{
    background-image: url("../img/fel/thumbs/img-fel5.png");
}
.img-fel6{
    background-image: url("../img/fel/thumbs/img-fel6.png");
}
.img-fel7{
    background-image: url("../img/fel/thumbs/img-fel7.png");
}
.img-fel8{
    background-image: url("../img/fel/thumbs/img-fel8.png");
}
.img-fel9{
    background-image: url("../img/fel/thumbs/img-fel9.png");
}
.img-fel10{
    background-image: url("../img/fel/thumbs/img-fel10.png");
}
.img-fel11{
    background-image: url("../img/fel/thumbs/img-fel11.png");
}
.img-fel12{
    background-image: url("../img/fel/thumbs/img-fel12.png");
}.img-fel13{
    background-image: url("../img/fel/thumbs/img-fel13.png");
}
.img-fel14{
    background-image: url("../img/fel/thumbs/img-fel14.png");
}
.img-fel15{
    background-image: url("../img/fel/thumbs/img-fel15.png");
}
.img-fel16{
    background-image: url("../img/fel/thumbs/img-fel16.png");
}
.img-fel17{
    background-image: url("../img/fel/thumbs/img-fel17.png");
}
.img-fel18{
    background-image: url("../img/fel/thumbs/img-fel18.png");
}
.img-fel19{
    background-image: url("../img/fel/thumbs/img-fel19.png");
}
.img-fel20{
    background-image: url("../img/fel/thumbs/img-fel20.png");
}
.img-fel21{
    background-image: url("../img/fel/thumbs/img-fel21.png");
}
.img-fel22{
    background-image: url("../img/fel/thumbs/img-fel22.png");
}
.img-fel23{
    background-image: url("../img/fel/thumbs/img-fel23.png");
}
.img-fel24{
    background-image: url("../img/fel/thumbs/img-fel24.png");
}
.img-fel25{
    background-image: url("../img/fel/thumbs/img-fel25.png");
}
.img-fel26{
    background-image: url("../img/fel/thumbs/img-fel26.png");
}
.img-fel27{
    background-image: url("../img/fel/thumbs/img-fel27.png");
}
.img-fel28{
    background-image: url("../img/fel/thumbs/img-fel28.png");
}
.img-fel29{
    background-image: url("../img/fel/thumbs/img-fel29.png");
}
.img-fel30{
    background-image: url("../img/fel/thumbs/img-fel30.png");
}
.img-fel31{
    background-image: url("../img/fel/thumbs/img-fel31.png");
}
.img-fel32{
    background-image: url("../img/fel/thumbs/img-fel32.png");
}
.img-fel33{
    background-image: url("../img/fel/thumbs/img-fel33.png");
}
.img-fel34{
    background-image: url("../img/fel/thumbs/img-fel34.png");
}
.img-fel35{
    background-image: url("../img/fel/thumbs/img-fel35.png");
}
.img-fel36{
    background-image: url("../img/fel/thumbs/img-fel36.png");
}
.img-fel37{
    background-image: url("../img/fel/thumbs/img-fel37.png");
}
.img-fel38{
    background-image: url("../img/fel/thumbs/img-fel38.png");
}
.img-fel39{
    background-image: url("../img/fel/thumbs/img-fel39.png");
}
.img-fel40{
    background-image: url("../img/fel/thumbs/img-fel40.png");
}
.img-fel41{
    background-image: url("../img/fel/thumbs/img-fel41.png");
}
.img-fel42{
    background-image: url("../img/fel/thumbs/img-fel42.png");
}
.img-fel43{
    background-image: url("../img/fel/thumbs/img-fel43.png");
}
.img-fel44{
    background-image: url("../img/fel/thumbs/img-fel44.png");
}
.img-fel45{
    background-image: url("../img/fel/thumbs/img-fel45.png");
}






.img-mir1{
    background-image: url("../img/mir/thumbs/img-mir1.png");
}
.img-mir2{
    background-image: url("../img/mir/thumbs/img-mir2.png");
}
.img-mir3{
    background-image: url("../img/mir/thumbs/img-mir3.png");
}
.img-mir4{
    background-image: url("../img/mir/thumbs/img-mir4.png");
}
.img-mir5{
    background-image: url("../img/mir/thumbs/img-mir5.png");
}
.img-mir6{
    background-image: url("../img/mir/thumbs/img-mir6.png");
}
.img-mir7{
    background-image: url("../img/mir/thumbs/img-mir7.png");
}
.img-mir8{
    background-image: url("../img/mir/thumbs/img-mir8.png");
}
.img-mir9{
    background-image: url("../img/mir/thumbs/img-mir9.png");
}
.img-mir10{
    background-image: url("../img/mir/thumbs/img-mir10.png");
}
.img-mir11{
    background-image: url("../img/mir/thumbs/img-mir11.png");
}
.img-mir12{
    background-image: url("../img/mir/thumbs/img-mir12.png");
}
.img-mir13{
    background-image: url("../img/mir/thumbs/img-mir13.png");
}
.img-mir14{
    background-image: url("../img/mir/thumbs/img-mir14.png");
}
.img-mir15{
    background-image: url("../img/mir/thumbs/img-mir15.png");
}
.img-mir16{
    background-image: url("../img/mir/thumbs/img-mir16.png");
}
.img-mir17{
    background-image: url("../img/mir/thumbs/img-mir17.png");
}
.img-mir18{
    background-image: url("../img/mir/thumbs/img-mir18.png");
}
.img-mir19{
    background-image: url("../img/mir/thumbs/img-mir19.png");
}
.img-mir20{
    background-image: url("../img/mir/thumbs/img-mir20.png");
}
.img-mir21{
    background-image: url("../img/mir/thumbs/img-mir21.png");
}
.img-mir22{
    background-image: url("../img/mir/thumbs/img-mir22.png");
}
.img-mir23{
    background-image: url("../img/mir/thumbs/img-mir23.png");
}
.img-mir24{
    background-image: url("../img/mir/thumbs/img-mir24.png");
}
.img-mir25{
    background-image: url("../img/mir/thumbs/img-mir25.png");
}
.img-mir26{
    background-image: url("../img/mir/thumbs/img-mir26.png");
}
.img-mir27{
    background-image: url("../img/mir/thumbs/img-mir27.png");
}
.img-mir28{
    background-image: url("../img/mir/thumbs/img-mir28.png");
}
.img-mir29{
    background-image: url("../img/mir/thumbs/img-mir29.png");
}
.img-mir30{
    background-image: url("../img/mir/thumbs/img-mir30.png");
}
.img-mir31{
    background-image: url("../img/mir/thumbs/img-mir31.png");
}
.img-mir32{
    background-image: url("../img/mir/thumbs/img-mir32.png");
}
.img-mir33{
    background-image: url("../img/mir/thumbs/img-mir33.png");
}
.img-mir34{
    background-image: url("../img/mir/thumbs/img-mir34.png");
}
.img-mir35{
    background-image: url("../img/mir/thumbs/img-mir35.png");
}
.img-mir36{
    background-image: url("../img/mir/thumbs/img-mir36.png");
}
.img-mir37{
    background-image: url("../img/mir/thumbs/img-mir37.png");
}
.img-mir38{
    background-image: url("../img/mir/thumbs/img-mir38.png");
}
.img-mir39{
    background-image: url("../img/mir/thumbs/img-mir39.png");
}
.img-mir40{
    background-image: url("../img/mir/thumbs/img-mir40.png");
}
.img-mir41{
    background-image: url("../img/mir/thumbs/img-mir41.png");
}
.img-mir42{
    background-image: url("../img/mir/thumbs/img-mir42.png");
}
.img-mir43{
    background-image: url("../img/mir/thumbs/img-mir43.png");
}






.img-ver1{
    background-image: url("../img/ver/thumbs/img-ver1.png");
}
.img-ver2{
    background-image: url("../img/ver/thumbs/img-ver2.png");
}
.img-ver3{
    background-image: url("../img/ver/thumbs/img-ver3.png");
}
.img-ver4{
    background-image: url("../img/ver/thumbs/img-ver4.png");
}
.img-ver5{
    background-image: url("../img/ver/thumbs/img-ver5.png");
}
.img-ver6{
    background-image: url("../img/ver/thumbs/img-ver6.png");
}
.img-ver7{
    background-image: url("../img/ver/thumbs/img-ver7.png");
}
.img-ver8{
    background-image: url("../img/ver/thumbs/img-ver8.png");
}
.img-ver9{
    background-image: url("../img/ver/thumbs/img-ver9.png");
}
.img-ver10{
    background-image: url("../img/ver/thumbs/img-ver10.png");
}
.img-ver11{
    background-image: url("../img/ver/thumbs/img-ver11.png");
}
.img-ver12{
    background-image: url("../img/ver/thumbs/img-ver12.png");
}
.img-ver13{
    background-image: url("../img/ver/thumbs/img-ver13.png");
}
.img-ver14{
    background-image: url("../img/ver/thumbs/img-ver14.png");
}
.img-ver15{
    background-image: url("../img/ver/thumbs/img-ver15.png");
}
.img-ver16{
    background-image: url("../img/ver/thumbs/img-ver16.png");
}
.img-ver17{
    background-image: url("../img/ver/thumbs/img-ver17.png");
}
.img-ver18{
    background-image: url("../img/ver/thumbs/img-ver18.png");
}
.img-ver19{
    background-image: url("../img/ver/thumbs/img-ver19.png");
}
.img-ver20{
    background-image: url("../img/ver/thumbs/img-ver20.png");
}
.img-ver21{
    background-image: url("../img/ver/thumbs/img-ver21.png");
}
.img-ver22{
    background-image: url("../img/ver/thumbs/img-ver22.png");
}
.img-ver23{
    background-image: url("../img/ver/thumbs/img-ver23.png");
}
.img-ver24{
    background-image: url("../img/ver/thumbs/img-ver24.png");
}
.img-ver25{
    background-image: url("../img/ver/thumbs/img-ver25.png");
}
.img-ver26{
    background-image: url("../img/ver/thumbs/img-ver26.png");
}





/* GALLERY IMAGE TITLES */
    
.post-content-gallery{
    width: 100%;
    height: 100%;
    background-color: var(--first-color-alt);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .3s;
}

.content-gallery__caption__title{
    color: #fff;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    padding: .4rem 0;
}
.content-gallery__list-item{
    transition: .3s;
}

.post-content-gallery:hover{
    opacity: 0.8;
}

.content-gallery__list-item:hover{
    transform: scale(1.07);
}

.focus-project__modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
}

.focus-project__modal-active{
    visibility: visible;
    opacity: 1;
}


.focus-project__slideshow{
    width: 90vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, .9);
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus-project__slideshow-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all .3s;
}

.animation__right{
    transform: translateX(100px);
}
.animation__left{
    transform: translateX(-100px);
}

.focus-project__btn__close{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--first-color-lighter);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all .2s;
    cursor: pointer;
}
.focus-project__btn__close:hover{
    transform: scale(1.2);
    background-color: var(--first-color-alt);
}
.focus-project__modal-btns{
    width: 35px;
    height: 35px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
}
.focus-project__modal-btns:hover > i{
    transform: scale(1.2);
    transition: all .2s;
}
.focus-project__modal-btns__prev{
    left: 10px;
}
.focus-project__modal-btns__next{
    right: 10px;
}
.focus-project__slideshow-img{
    width: 95%;
    height: 95%;
}







/*==================== PROJECTS ====================*/
.focus-project{
    /* margin-top: 0;
    padding: 0; */
    margin-bottom: var(--mb-2-5);
    
}
.focus-project__portrait{
    background-color: var(--first-color);
    display: flex;
    width: 100vw;
    height: min-content;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.focus-project__video__intro{
    width: 100vw;
}
.focus-project__title{
    position: absolute;
    width: 220px;
    /* font-family: 'Architects Daughter', cursive; */
    font-size: var(--h1-font-size);
    color: #fff;
    filter: drop-shadow(.1rem .1rem .3rem rgba(0,0,0,1));
    letter-spacing: 3px;
}






/*==================== DESCRIPTION ====================*/
.description__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: var(--mb-3);
}

.description__data{
    width: 250px;
    padding: 2rem;
}



.description__img{
    width: 250px;
    border-radius: .5rem;
}
.description__container-v2{
    margin-bottom: var(--mb-0-25);
}


.description__description{
    text-align: justify;
    font-size: var(--smaller-font-size);
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
}

.description__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-1);
    flex-wrap: wrap;
}

.description__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.description__info-name{
    font-size: var(--smaller-font-size);
    padding: 1rem;
}

.description__info-title,
.description__info-name{
    display: block;
    text-align: center;
}






/*==================== PROJECTS GALLERY ====================*/

.projects{
    padding: 0 0 4rem;
}

.projects-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projects-gallery__list-item{
    min-width: 280px;
    min-height: 210px;
    margin-bottom: 1rem;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: #eee;
}
.post-projects-gallery{
    width: 100%;
    height: 100%;
    background-color: var(--first-color-alt);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.projects-gallery__caption{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-gallery__caption__title{
    color: #fff;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    padding: .4rem 0;
}
.projects-gallery__list-item{
    transition: .3s;
}

.post-projects-gallery:hover{
    opacity: 0.8;
}

.projects-gallery__list-item:hover{
    transform: scale(1.07);
}


/*========== SCROLL BACKWARDS ==========*/
.backwards{
    position: fixed;
    left: 1rem;
    top: -20%;
    background-color: var(--first-color-alt);
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    transform: rotate(180deg);
}

.backwards:hover{
    background-color: var(--first-color-lighter);
}

.backwards__icon{
    font-size: 1.5rem;
    color: #fff;
}

/* Show scroll */
.show-backwards{
    top: 2rem;
}






@media screen and (min-width: 350px){
    .description__img{
        width: 350px;
    }

    .description__data{
        width: 350px;
    }
    .description__description{
        text-align: justify;
    }
}




@media screen and (min-width: 568px){
    .content-gallery{
        justify-content: space-evenly;
        margin: 1rem;
    }
    .content-gallery__list-item{
        min-width: 280px;
        min-height: 210px;
        max-width: 600px;
        max-height: 450px;
        margin: 1rem;
    }
    .projects-gallery{
        justify-content: space-evenly;
        margin: 1rem;
    }
    .projects-gallery__list-item{
        min-width: 280px;
        min-height: 210px;
        max-width: 600px;
        max-height: 450px;
        margin: 1rem;
    }

    
    .focus-project__title{
        width: 300px;
        font-size: var(--big-font-size);
    }

    

    .loader-text{
        font-size: var(--big-font-size);
    }

    .description__data{
        width: 400px;
        padding: .5rem;
    }

    .description__img{
        width: 400px;
        object-fit: cover;
    }
    .description__description{
        text-align: justify;
    }
}

@media screen and (min-width: 767px){
    .show-backwards{
        top: 5.5rem;
    }
    .focus-project{
        margin-top: 4.5rem;
    }
    .focus-project__title{
        width: 300px;
    }


    .description__container{
        column-gap: 1rem;
    }

    .description__img{
        width: 500px;
    }
    .description__data{
        width: 500px;
    }


}


@media screen and (min-width: 968px){
    .focus-project__title{
        width: 400px;
    }

    .description__img{
        width: 750px;
    }

    .description__data{
        width: 750px;
    }
}

@media screen and (min-width: 1024px){
    .focus-project__btn__close{
        width: 45px;
        height: 45px;
    }

    .focus-project__modal-btns{
        width: 50px;
        height: 50px;
    }
    .focus-project__slideshow-img{
        width: 90%;
        height: 90%;
    }
    .animation__right{
        transform: translateX(300px);
    }
    .animation__left{
        transform: translateX(-300px);
    }



    .backwards__icon{
        font-size: 2rem;
    }



    .focus-project__title{
        width: 600px;
        font-size: 4rem;
    }
    .loader-text{
        font-size: 4rem;
    }


    .description__img{
        width: 850px;
    }

    .description__data{
        width: 850px;
    }
}

@media screen and (min-width: 1274px){
    .description__data{
        width: 400px;
    }
    .dd__focus{
        font-size: var(--normal-font-size);
    }
    .description__img{
        border-radius: 0;
    }

    
}